<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net462" />
  <package id="FreeSpire.Office" version="2.15" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Nager.Date" version="1.22.3" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net451" />
  <package id="NLog" version="4.6.7" targetFramework="net45" />
  <package id="NLog.Config" version="4.6.7" targetFramework="net45" />
  <package id="NLog.Schema" version="4.6.7" targetFramework="net45" />
  <package id="NuGet.VisualStudio" version="3.3.0" targetFramework="net462" />
</packages>