<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ERP_NEW.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ERP_NEW.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <!-- <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PresentationCore" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


    <!-- optional, add some variabeles
  [url]https://github.com/nlog/NLog/wiki/Configuration-file#variables[/url]
  -->
    <variable name="myvar" value="myvalue"/>

    <!-- 
  See [url]https://github.com/nlog/nlog/wiki/Configuration-file[/url] 
  for information on customizing logging rules and outputs.
   -->
    <targets>

      <!-- 
    add your targets here 
    See [url]https://github.com/nlog/NLog/wiki/Targets[/url] for possible targets.
    See [url]https://github.com/nlog/NLog/wiki/Layout-Renderers[/url] for the possible layout renderers.
    -->
      <target name="console" xsi:type="Console" layout="${date:format=HH\:mm\:ss}|${level}|${message}" />
      <target name="file"
          xsi:type="File"
          fileName="\\SERVER-TFS/Data/Logs/Log.${level}.${shortdate}.txt"
          layout="${longdate} ${level}: ${message} ${exception:format=Message,StackTrace} ${stacktrace}"

          archiveFileName="\\SERVER-TFS/Data/Logs/archives/log.error.${shortdate}.{#}.txt"
          archiveAboveSize="5242880"
          archiveEvery="Day"
          archiveNumbering="Rolling"
          maxArchiveFiles="3" />
      <!-- 
        ${callsite} ${level}: ${message} ${exception:format=Message,StackTrace} ${stacktrace}" 
        -->
      <!--
    Writing events to the a file with the date in the filename. 
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    </targets>

    <rules>
      <!-- add your logging rules here 
    <logger name="*" minlevel="Debug" writeTo="file" />  -->
      <logger name="*" minlevel="Info" writeTo="file" />
      <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    </rules>
  </nlog>
  <userSettings>
    <ERP_NEW.GUI.Properties.Settings>
      <setting name="Flag1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Flag2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Flag3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Flag4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExpStoreHouseBeginDatePrint" serializeAs="String">
        <value />
      </setting>
      <setting name="ExpStoreHouseEndDatePrint" serializeAs="String">
        <value />
      </setting>
      <setting name="PackingListCustonerOrderInfo" serializeAs="String">
        <value>False</value>
      </setting>
    </ERP_NEW.GUI.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ERP_NEW.GUI.Properties.Settings>
      <setting name="MaxFileSizeMb" serializeAs="String">
        <value>15</value>
      </setting>
    </ERP_NEW.GUI.Properties.Settings>
  </applicationSettings>
</configuration>
